<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <nav>
    <h1>Smart Task Manager</h1>
    {% if current_user.is_authenticated %}
        <div class="nav-right">
            <span>Welcome</span>
            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Logout</a>
        </div>
    {% endif %}
</nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>